default_stages: [commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: LICENSE
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: Formatting Code
        entry: make format
        types: []
        language: system

  - repo: local
    hooks:
      - id: lint
        name: Linting Check
        entry: make lint
        types: []
        language: system
