site_name: FeatureByte
repo_name: featurebyte/featurebyte
repo_url: https://github.com/featurebyte/featurebyte
edit_uri: blob/main/docs/
watch:
  - featurebyte

nav:
  - What is FeatureByte?:
      - about/overview.md
      - Concepts:
          - Data Sources: about/concepts/data_sources.md
          - Entities: about/concepts/entities.md
          - Data Cleaning: about/concepts/data_cleaning.md
          - Views: about/concepts/views.md
          - Features: about/concepts/features.md
          - Use Cases: about/concepts/use_cases.md
          - Feature Discovery: about/concepts/feature_discovery.md
          - Feature Store: about/concepts/feature_store.md
          - Feature Lists: about/concepts/feature_lists.md
          - Historical Feature Serving: about/concepts/historical_requests.md
          - Online Feature Serving: about/concepts/online_requests.md
          - Feature Governance: about/concepts/feature_governance.md
      - Architecture: about/architecture.md
      - Integrations: about/integrations.md

  - Get started:
      - Installation: get_started/installation.md
      - Quick Start: get_started/quickstart.md
      - Tutorials: get_started/tutorials/

  - User Guide:
      - Select Feature Store: user_guide/temp.md
      - Register Data: user_guide/temp.md
      - Register Entity: user_guide/temp.md
      - Annotate Entity: user_guide/temp.md
      - Annotate Semantic: user_guide/temp.md
      - Annotate Critical Data Info: user_guide/temp.md
      - Create View: user_guide/temp.md
      - Clean Data: user_guide/temp.md
      - Create Flags: user_guide/temp.md
      - Transform Columns: user_guide/temp.md
      - Create Lags: user_guide/temp.md
      - Join Views: user_guide/temp.md
      - Subset Views: user_guide/temp.md
      - Edit Column on conditional statements: user_guide/temp.md
      - Convert Events to Time Series: user_guide/temp.md
      - Reduce Time Series: user_guide/temp.md
      - Change Events: user_guide/temp.md
      - Create Lookup Features: user_guide/temp.md
      - Create Aggregate Features: user_guide/temp.md
      - Create Time Windowed Aggregate Features: user_guide/temp.md
      - Transform Features: user_guide/temp.md
      - Feature On Demand: user_guide/temp.md
      - Add a Feature to a View: user_guide/temp.md
      - Get Feature Lineage: user_guide/temp.md
      - Change Feature Job Setting: user_guide/temp.md
      - Change Data Quality Annotation: user_guide/temp.md
      - Create a New Feature Version: user_guide/temp.md
      - Change Feature Readiness: user_guide/temp.md
      - Create a Context: user_guide/temp.md
      - Create a Target: user_guide/temp.md
      - Create a Use Case: user_guide/temp.md
      - Edit Entity Relationship: user_guide/temp.md
      - Run Feature Discovery: user_guide/temp.md
      - Create Feature List: user_guide/temp.md
      - Request Historical Features: user_guide/temp.md
      - Deploy Feature List: user_guide/temp.md
      - Request Online Features: user_guide/temp.md

  - API Reference: reference/

  - Development:
      - Contribution Process: development/
      - Development Guide: development/
      - Backwards Compatibility Policy: development/
      - Versioning Policy: development/
      - Release Process: development/
      - Roadmap: development/
      - Contributor Community: development/

  - Release notes: release_note/

  - Getting Help: help/

theme:
  name: material
  palette:
    scheme: default
    primary: teal
    accent: teal
  homepage: https://featurebyte.com
  favicon: https://featurebyte.com/wp-content/uploads/2022/06/favicon_1.png
  logo: https://featurebyte.com/wp-content/uploads/2022/06/favicon_1.png
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.instant
    - instant

plugins:
  - search
  - mkdocs-jupyter:
      kernel_name: python3
      theme: default
      include: ["*.ipynb"]
      show_input: True
      include_source: True
      execute: False
      allow_errors: False
  - gen-files:
      scripts:
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - section-index

markdown_extensions:
  - admonition
  - codehilite
  - attr_list
  - toc:
      permalink: true
  - pymdownx.highlight:
      auto_title: false
      use_pygments: true
      linenums: false
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - fbautodoc

extra_css:
  - css/code_select.css
