# Poetry pyproject.toml: https://python-poetry.org/docs/pyproject/

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry_core>=1.0.0"]

[tool.bandit]
skips = ["B608"]

[tool.black]  # https://github.com/psf/black
color = true
exclude = '/(\.direnv|\.eggs|\.git|\.hg|\.mypy_cache|\.nox|\.tox|\.venv|venv|\.svn|_build|buck-out|build|dist|__pypackages__)/'
line-length = 100
target-version = ["py38"]

[tool.coverage.report] # https://coverage.readthedocs.io/en/6.4.1/config.html#run
exclude_lines = [
    "pragma: no cover",
    "if TYPE_CHECKING:",
    "@overload",
    "@abstractmethod",
]
fail_under = 50
show_missing = true

[tool.coverage.run]
branch = true
command_line = "-m pytest -c pyproject.toml --timeout=120 --junitxml=pytest.xml tests featurebyte"
source = ["featurebyte"]

[tool.isort]  # https://github.com/PyCQA/isort
color_output = true
include_trailing_comma = true
indent = 4
known_typing = ["typing", "types", "typing_extensions", "mypy", "mypy_extensions"]
line_length = 100
multi_line_output = 3
profile = "black"
sections = ["FUTURE", "TYPING", "STDLIB", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]

[tool.mypy]  # https://mypy.readthedocs.io/en/latest/config_file.html#using-a-pyproject-toml-file
allow_redefinition = false
check_untyped_defs = true
color_output = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = false
disallow_untyped_defs = true
exclude = ['tests']
ignore_missing_imports = true
implicit_reexport = false
no_implicit_optional = true
pretty = true
python_version = 3.8
show_column_numbers = true
show_error_codes = true
show_error_context = true
show_traceback = true
strict_equality = true
strict_optional = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[tool.poetry]
authors = ["FeatureByte <it-admin@featurebyte.com>"]
classifiers = [  #! Update me
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "License :: OSI Approved :: Apache Software License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
]
description = "Python Library for FeatureOps"
homepage = "https://github.com/featurebyte/featurebyte"
keywords = []  #! Update me
license = "Apache Software License 2.0"
name = "featurebyte"
readme = "README.md"
repository = "https://github.com/featurebyte/featurebyte"
version = "0.1.0"

[tool.poetry.dependencies]
PyYAML = "^6.0"
alive-progress = "^2.4.1"
asyncache = "^0.1.1"
cachetools = "^5.2.0"
importlib_metadata = {version = "^4.5.0", python = "^3.8"}
lazy-object-proxy = "^1.7.1"
loguru = "^0.6.0"
pandas = "^1.4.2"
pyarrow = "^8.0.0,<9.0"   # "9.0.0" causes seg faults
pydantic = "^1.9.1"
pymongo = "^4.1.1"
python = ">=3.8,<3.11"
python-multipart = "^0.0.5"
requests = "^2.27.1"
sqlglot = "^2.3.2,<3.0"   # ^3.0.0 causes test failure maybe due to syntax changes
typeguard = "^2.13.3"

[tool.poetry.extras]
server = ["aiofiles", "databricks-cli", "fastapi", "featurebyte-freeware", "jinja2", "motor", "snowflake-connector-python"]

[tool.poetry.group.dev.dependencies]
freezegun = "^1.2.1"
mongomock = "^4.0.0"
mongomock-motor = "^0.0.12"
pip-licenses = "^3.5.4"
pre-commit = "^2.20.0"
pyspark = "^3.3.0"
pytest = "^7.2.0"
pytest-asyncio = "^0.19.0"
pytest-cov = "^4.0.0"
pytest-timeout = "^2.1.0"
pytest-xdist = "^3.0.2"
pyupgrade = "^2.37.2"
toml-sort = "^0.20.0"
uvicorn = "^0.18.2"

[tool.poetry.group.docs.dependencies]
Sphinx = "^4.5.0"
sphinx-github-changelog = "^1.2.0"
sphinx-rtd-theme = "^1.0.0"

[tool.poetry.group.lint.dependencies]
bandit = "^1.7.4"
black = { version = "^22.3.0", allow-prereleases = true }
darglint = "^1.8.1"
isort = {extras = ["colors"], version = "^5.10.1"}
mypy = "^0.971"
mypy-extensions = "^0.4.3"
pip-audit = "^2.4.4"
pylint = "^2.14.5"
types-PyYAML = "^6.0.11"
types-backports = "^0.1.3"
types-cachetools = "^5.2.1"
types-chardet = "^5.0.2"
types-cryptography = "^3.3.21"
types-pyOpenSSL = "^22.0.4"
types-pytz = "^2022.1.2"
types-redis = "^4.3.7"
types-requests = "^2.28.2"
types-setuptools = "^63.2.1"
types-simplejson = "^3.17.7"
types-toml = "^0.10.0"
types-tzlocal = "^4.2.2"
types-ujson = "^5.4.0"
types-urllib3 = "^1.26.16"

[tool.poetry.group.server.dependencies]
aiofiles = "^22.1.0"
databricks-cli = "^0.17.3"
fastapi = "^0.85.1"
featurebyte-freeware = { version = "^0.1.0", allow-prereleases = true, source = "featurebyte_np" }
jinja2 = "^3.1.2"
motor = "^3.0.0"
snowflake-connector-python = "^2.7.7"

[[tool.poetry.source]]
name = "featurebyte_np"
secondary = true
url = "https://us-central1-python.pkg.dev/vpc-host-nonprod-xa739-xz970/featurebyte-pypi/simple/"

[tool.pylint.classes]  # https://docs.pytest.org/en/6.2.x/customize.html#pyproject-toml
max-args = 10

[tool.pylint.design]
max-attributes = 8
max-parents = 17

[tool.pylint.format]
max-line-length = 150

[tool.pylint.main]
disable = ["Miscellaneous"]
extension-pkg-whitelist = ["pydantic"]
jobs = 0
output-format = "text"
recursive = false

[tool.pylint.similarities]
ignore-signatures = true
min-similarity-lines = 10

[tool.pytest.ini_options]
addopts = ["--strict-markers", "-v", "--doctest-modules", "--durations=0", "--doctest-continue-on-failure"] # Extra options:
doctest_optionflags = ["NUMBER", "NORMALIZE_WHITESPACE", "IGNORE_EXCEPTION_DETAIL"]
norecursedirs = ["hooks", "*.egg", ".eggs", "dist", "build", "docs", ".tox", ".git", "__pycache__"]
