version: "3.8"

services:
  mongo-rs:
    hostname: mongo-rs
    container_name: mongo-rs
    image: "mongo:4.2"
    entrypoint: ["/bin/bash", "./scripts/entrypoint.sh"]
    volumes:
      - ./entrypoint-mongo.sh:/scripts/entrypoint.sh
      - ~/.featurebyte/data/:/data/
    ports: []

  featurebyte-server:
    hostname: featurebyte-server
    container_name: featurebyte-server
    depends_on: [mongo-rs]
    image: featurebyte-beta:latest
    volumes:
      - ~/.featurebyte:/app/.featurebyte
      - /tmp:/tmp
    environment:
      FEATUREBYTE_HOME: /app/.featurebyte
      MONGODB_URI: mongodb://mongo-rs:27021,mongo-rs:27022/?replicaSet=rs0
      API_HOST: 0.0.0.0
      API_PORT: 8088
      WORKERS: 3
      LOG_LEVEL: warning
    ports:
      - "127.0.0.1:8088:8088"  # featurebyte-server
      - "127.0.0.1:8089:8089"  # documentation
      - "127.0.0.1:8090:8090"  # jupyter-notebook
