/*
  Allows users to select code without the prompts >>>
  >>> print("hello")
  hello

  will only allow the user to highlight `print("hello")` instead of `>>> print("hello")`
*/
.highlight .gp, .highlight .go { /* Generic.Prompt, Generic.Output */
    user-select: none;
}
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: .05rem solid var(--md-typeset-table-color);
}

div.autodoc-summary {
  display: block;
  padding: 5px;
  border-top: 1px solid #333;
}

div.autodoc-desc {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  border-left: 5px solid rgba(230, 230, 230);
  font-weight: bold;
}

div.autodoc-desc p {
  margin: 0;
  padding: 0;
}

div.autodoc-signature {
  font-size: 18px;
  color: var(--md-typeset-a-color);
  padding: 0;
  margin: 0;
  background-color: transparent;
}

span.autodoc-punctuation {
  padding: 0;
  margin: 0;
}


span.autodoc-classpath {
  font-size: 30px;
  display: inline;
  color: var(--md-typeset-a-color);
  background-color: transparent;
  overflow-wrap: break-word;
}

div.autodoc-summary h4 {
  height: 0;
  width: 0;
  font-size: 0;
  display: inherit;
  visibility: hidden;
}

div.autodoc-signature {
  font-size: 16px;
}

div.autodoc-signature strong {
  font-size: 18px;
}

div.autodoc-param-group {
  display: inline;
}

div.autodoc-param-group-multi {
  margin-left: 30px;
}

.autodoc-default {
  color: red;
}

.autodoc-param {
  font-weight: bold;
}

div.autodoc-docstring {
  padding-left: 20px;
  margin-bottom: 30px;
  border-left: 5px solid rgba(230, 230, 230);
}

div.autodoc-members {
  padding-left: 20px;
  margin-bottom: 15px;
}

.md-sidebar--secondary li.md-nav__item li {
  font-size: 13px;
}

div.autodoc-content li div {
  padding: 10px;
  font-size: 14px;
}
