version: "3.8"

services:
  mongo-rs:
    networks:
      - featurebyte
    hostname: mongo-rs
    restart: unless-stopped
    container_name: mongo-rs
    image: "featurebyte/mongo:6"
    environment:
      - MONGO_HOSTNAME=mongo-rs
    volumes:
      - mongodb:/data/
    healthcheck:
      start_period: 10s
      interval: 5s
      test: ["CMD", "mongosh", "--port=27022", "--eval", "rs.status()"]
    logging:
      driver: local

  redis:
    networks:
      - featurebyte
    hostname: redis
    restart: unless-stopped
    container_name: redis
    image: "redis:6.2.5"
    healthcheck:
      start_period: 10s
      interval: 5s
      test: ["CMD", "redis-cli", "ping"]
    logging:
      driver: local

  featurebyte-server:
    networks:
      - featurebyte
    hostname: featurebyte-server
    restart: unless-stopped
    container_name: featurebyte-server
    image: featurebyte-server:latest
    depends_on:
      mongo-rs:
        condition: service_healthy
    ports:
      - "0.0.0.0:8088:8088"
    command:
      - "server"
    environment:
      - "FEATUREBYTE_HOME=/app/.featurebyte"
      - "MPLCONFIGDIR=/app/matplotlib"
      - "REDIS_URI=redis://redis:6379"
      - "MONGODB_URI=mongodb://mongo-rs:27021,mongo-rs:27022/?replicaSet=rs0"
      - "API_HOST=0.0.0.0"
      - "API_PORT=8088"
      - "LOG_LEVEL=info"
      - "LOCAL_UID=${LOCAL_UID}"
      - "LOCAL_GID=${LOCAL_GID}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8088/status"]
      interval: 5s
      start_period: 30s
    volumes:
      - files-data:/app/.featurebyte/data/files
      - staging-data:/data/staging
      - file-store:/tmp
    logging:
      driver: local

  featurebyte-worker:
    networks:
      - featurebyte
    hostname: featurebyte-worker
    restart: unless-stopped
    container_name: featurebyte-worker
    image: featurebyte-server:latest
    depends_on:
      mongo-rs:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - "FEATUREBYTE_HOME=/app/.featurebyte"
      - "MPLCONFIGDIR=/app/matplotlib"
      - "REDIS_URI=redis://redis:6379"
      - "MONGODB_URI=mongodb://mongo-rs:27021,mongo-rs:27022/?replicaSet=rs0"
      - "LOCAL_UID=${LOCAL_UID}"
      - "LOCAL_GID=${LOCAL_GID}"
    command:
      - "worker"
    volumes:
      - files-data:/app/.featurebyte/data/files
      - staging-data:/data/staging
      - file-store:/tmp
    logging:
      driver: local

  spark-thrift:
    networks:
      - featurebyte
    image: featurebyte/cluster-apache-spark:3.3.1
    container_name: spark-thrift
    ports:
      - "0.0.0.0:10000:10000"
      - "0.0.0.0:4040:4040"
    environment:
      - SPARK_MASTER=local
      - SPARK_LOCAL_IP=spark-thrift
      - "LOCAL_UID=${LOCAL_UID}"
      - "LOCAL_GID=${LOCAL_GID}"
    volumes:
      - staging-data:/opt/spark/data/staging
      - spark-warehouse:/opt/spark/data/derby
    healthcheck:
      test: netstat -ltn | grep -c 10000
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    command:
      - /bin/sh
      - -c
      - |
        /opt/spark/bin/spark-submit \
        --class org.apache.spark.sql.hive.thriftserver.HiveThriftServer2 \
        --name Thrift JDBC/ODBC Server \
        --hiveconf hive.server2.thrift.port=10000 \
        --hiveconf hive.server2.thrift.bind.host=0.0.0.0 \
        --hiveconf derby.system.home=/opt/spark/data/derby \
        --master=local[4] \
        --jars /opt/spark/jars/delta-core_2.12-2.2.0.jar,/opt/spark/jars/delta-storage-2.2.0.jar,/opt/spark/jars/antlr4-runtime-4.8.jar \
        --conf spark.driver.memory=4G \
        --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension \
        --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog \
        --conf spark.sql.catalogImplementation=hive  \
        --conf spark.sql.warehouse.dir=file:///opt/spark/data/derby/warehouse/ \
        --conf spark.sql.hive.thriftServer.singleSession=false \
        --conf spark.hadoop.metastore.catalog.default=spark \
        --conf spark.sql.adaptive.enabled=true
    logging:
      driver: local

networks:
  featurebyte:
    driver: bridge
    external: true

volumes:
  mongodb:
  spark-warehouse:
  files-data:
  staging-data:
  file-store:
