version: "3.8"

services:
  mongo-rs:
    hostname: mongo-rs
    container_name: mongo-rs
    image: "mongo:6.0.3"
    entrypoint: ["/bin/bash", "./scripts/entrypoint.sh"]
    volumes:
      - ./entrypoint-mongo.sh:/scripts/entrypoint.sh
      - ~/.featurebyte/data/mongodb:/data/
    healthcheck:
      test: ["CMD", "mongosh", "--port=27022", "--eval", "rs.status()"]

  redis:
    hostname: redis
    container_name: redis
    image: "redis:6.2.5"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]

  featurebyte-server:
    hostname: featurebyte-server
    container_name: featurebyte-server
    image: featurebyte-server:latest
    pull_policy: never
    depends_on:
      mongo-rs:
        condition: service_healthy
    ports:
      - "127.0.0.1:8088:8088"
    environment:
      FEATUREBYTE_HOME: /app/.featurebyte
      MPLCONFIGDIR: /app/matplotlib
      REDIS_URI: redis://redis:6379
      MONGODB_URI: mongodb://mongo-rs:27021,mongo-rs:27022/?replicaSet=rs0
      API_HOST: 0.0.0.0
      API_PORT: 8088
      WORKERS: 3
      LOG_LEVEL: warning
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8088/status"]
    volumes:
      - ./migration.py:/scripts/migration.py
      - ~/.featurebyte/data/spark:/data
      - /tmp:/tmp

  featurebyte-worker:
    hostname: featurebyte-worker
    container_name: featurebyte-worker
    image: featurebyte-server:latest
    pull_policy: never
    depends_on:
      featurebyte-server:
        condition: service_healthy
    environment:
      FEATUREBYTE_HOME: /app/.featurebyte
      MPLCONFIGDIR: /app/matplotlib
      REDIS_URI: redis://redis:6379
      MONGODB_URI: mongodb://mongo-rs:27021,mongo-rs:27022/?replicaSet=rs0
    entrypoint: |
      /bin/bash /scripts/entrypoint-worker.sh
    volumes:
      - ./entrypoint-worker.sh:/scripts/entrypoint-worker.sh
      - ~/.featurebyte/data/spark:/data
      - /tmp:/tmp
