# Any PR must that integrates with the main branch MUST add one changelog entry
# If a changelog entry is not required, either do one of the following
# - Add 'Skip Changelog' label to the PR
# - Add 'dependencies' label to PR
# - PR title contains text '[chore]'

name: changelog
permissions:
  contents: write
  pull-requests: write
'on':
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  changelog:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'Skip Changelog') && !contains(github.event.pull_request.title, '[chore]')}}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          version: 3.x
      - name: Ensure no changes to the CHANGELOG
        run: |-
          if [[ $(git diff --name-only $(git merge-base origin/main ${{ github.event.pull_request.head.sha }}) ${{ github.event.pull_request.head.sha }} ./CHANGELOG.md) ]]; then
            echo "The CHANGELOG.md was modified."
            echo "Alternately, add either \"[chore]\" to the title of the pull request or add the \"Skip Changelog\" label if this job should be skipped."
            echo "See CONTRIBUTING.md for more details"
            exit 1
          else
            echo "The CHANGELOG.md was not modified."
          fi
      - name: Ensure addition of at least 1 changelog entry
        run: |-
          FILE_CHANGES=$(git diff $(git merge-base origin/main ${{ github.event.pull_request.head.sha }}) ${{ github.event.pull_request.head.sha }}: --no-renames --name-status -- .changelog/ | \
            awk '{if ($1 != "D" && $2 ~ /.yaml$/ && $2 !~ /TEMPLATE[.]yaml$/) { print $2 }}' |
            wc -l)
          if [[ $FILE_CHANGES -eq 0 ]]; then
            echo "There are no file additions in the .changelog/ directory."
            exit 1
          fi
      - name: Validate changelog entries
        run: |-
          echo "CHANGELOG<<EOF" >> $GITHUB_ENV
          task changelog-pr | tee -a $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - uses: mshick/add-pr-comment@v2
        with:
          message-id: changelog
          message: |
            **Changelog entries**
            ${{ env.CHANGELOG }}
