# This workflow checks the differences dependencies between main and the PR
# Labelling a PR with `dependencies` will skip this check

name: dependencies
on:
  pull_request:
    types: [opened, reopened, synchronize, labeled, unlabeled]
    branches:
      - main
      - release/*

permissions:
  contents: write
  repository-projects: read
  pull-requests: write

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  diff-deps:
    runs-on: ubuntu-20.04
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'dependencies') }}
    strategy:
      matrix:
        python-version: [ "3.8.0" ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Checkout branch
        run: git checkout "origin/${{ github.head_ref }}"
      - uses: arduino/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.3.1
      - name: Build package (branch)
        run: |
          poetry version 1
          poetry build
          tar xvf dist/featurebyte-1.tar.gz --strip-components 1 featurebyte-1/PKG-INFO
          awk -F: '/^Provides-Extra|Requires-Dist/ {print $0}' PKG-INFO | sort > branch.PKG-INFO

      - name: Checkout merge base
        run: git checkout $(git merge-base "origin/${{ github.head_ref }}" origin/main)

      - name: Build package (main)
        run: |
          poetry version 1
          poetry build
          tar xvf dist/featurebyte-1.tar.gz --strip-components 1 featurebyte-1/PKG-INFO
          awk -F: '/^Provides-Extra|Requires-Dist/ {print $0}' PKG-INFO | sort > main.PKG-INFO

      - name: Diff dependencies
        run: |
          echo "DIFF=$(diff -u branch.PKG-INFO main.PKG-INFO)" >> $GITHUB_ENV
          diff -u branch.PKG-INFO main.PKG-INFO

      - uses: mshick/add-pr-comment@v2
        if: failure()
        with:
          message: |
            **Diff**
            ```diff
            ${{ env.DIFF }}
            ```
