name: build-docs
on:
  push:
    tags: '*'
    branches:
      - main
  pull_request:
    types:
      [opened, synchronize, reopened]

permissions: write-all

jobs:
  build-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.8"]
    env:
      GCR_REPO_NAME: featurebyte-pypi
      GCR_REPO_LOCATION: us-central1
      GC_PROJECT_ID: vpc-host-nonprod-xa739-xz970

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Setup cache keys
      run: |
        echo "WEEK0=$(date +%U)" >> $GITHUB_ENV
        echo "WEEK1=$(date +%U -d "7 day ago")" >> $GITHUB_ENV
        echo "WEEK2=$(date +%U -d "14 day ago")" >> $GITHUB_ENV

    - name: Setup cache keys (PR)
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        echo "TAG=-${GITHUB_HEAD_REF}" >> $GITHUB_ENV

    - name: Setup cache
      uses: actions/cache@v3.0.5
      with:
        path: .venv
        key: featurebyte-venv-${{ matrix.python-version }}-${{ env.WEEK0 }}${{ env.TAG }}
        restore-keys: |
          featurebyte-venv-${{ matrix.python-version }}-${{ env.WEEK0 }}
          featurebyte-venv-${{ matrix.python-version }}-${{ env.WEEK1 }}
          featurebyte-venv-${{ matrix.python-version }}-${{ env.WEEK2 }}

    - name: Authenticate to Google Cloud
      id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - name: Install Poetry
      run: |
        pip install keyring keyrings.google-artifactregistry-auth
        printf "%s\n" "[distutils]" "index-servers =" "    $GCR_REPO_NAME" "" "[$GCR_REPO_NAME]" "repository: https://$GCR_REPO_LOCATION-python.pkg.dev/$GC_PROJECT_ID/$GCR_REPO_NAME/" > ~/.pypirc
        mkdir -p ~/.config/pip && printf "%s\n" "[global]" "extra-index-url = https://$GCR_REPO_LOCATION-python.pkg.dev/$GC_PROJECT_ID/$GCR_REPO_NAME/simple/" > ~/.config/pip/pip.conf
        python -m pip install poetry==1.2.0rc99
        rm ~/.pypirc ~/.config/pip/pip.conf
        poetry config virtualenvs.in-project true

    - name: Build documentation
      env:
        SPHINX_GITHUB_CHANGELOG_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        make install-nolock
        mkdir gh-pages
        touch gh-pages/.nojekyll
        make docs
        cp -r docs/build/* gh-pages/

    - name: Deploy documentation
      if: github.event_name == 'push'
      uses: JamesIves/github-pages-deploy-action@v4.4.0
      with:
        branch: gh-pages
        folder: gh-pages
